<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdadeScript</title>

    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <div class="content_container">

        <div class="label_design">
            <label for="idade">Idade: </label>
            <input type="text" id="idade" placeholder="ex:18">
        </div>

        <div class="label_design">
            <label for="peso">Peso(kg): </label>
            <input type="text" id="peso" placeholder="ex: 75">
        </div>

        <div class="label_design">
            <label for="altura">Altura(cm):  </label>
            <input type="text" id="altura" placeholder="ex: 180">
        </div>


        <div class="calculate">
            <h2>
                Calcular Risco Saúde
            </h2>
        </div>

    </div>


    <h2 class="answer"></h2>

    


    <script src="../Script/script.js"></script>
</body>
</html>